@import url('http://weloveiconfonts.com/api/?family=entypo');

/* Space out content a bit */
body {
    font-family: "calluna-sans","Gill Sans",Calibri,"Trebuchet MS",sans-serif;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;  
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;  

}

body[data-skin="Default"] {
    background: lightgrey;
    color: #222;
}

ul.navbar-right > li:last-child {
    padding-right: 40px;
}

.carousel-inner{
    height: 100%;
}

.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      max-height: 400px !important;
  }

.hero-slide {
    margin-top: -40px;
    -webkit-box-shadow: 0px 9px 40px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 40px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 40px -5px rgba(0,0,0,0.75);
}

.navbar-toggle {
    z-index:3;
}

.nav.navbar-nav > li > a {
    color: white !important;
    padding: 20px 20px 15px;
    font-size: 14px;
    font-family: 'futura-pt-condensed', Futura,sans-serif;
    text-transform: uppercase;
}

.nav.navbar-nav > li > a:hover {
    background-color: white;
    color: black !important;
}

.myNav {
    background-color: rgba(50,50,50, 0.8);
    height: 60px;
    border-bottom: 0px;
}

.navbar-header #brand{
    font-family: 'FuturaBook', Arial, sans-serif;
    color: white;
    font-size: 25px;
    padding-top: 16px;
}

.myBox {
    padding: 25px;
    margin: 25px;
    background-color: white;
    border-radius: 10px;
}

/* Responsive: Portrait large and down */
@media screen and (max-width: 1000px)  {
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      max-height: 300px !important;
  }
}

@media screen and (max-width: 750px)  {
  .carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
      margin: auto;
      max-height: 200px !important;
  }
}

@media screen and (max-width: 1060px) {
  .container-fluida.social-media {
    display: none;
  }
}

@media (max-width: 992px) {
  .navbar-collapse.collapse {
    background-color: rgba(50,50,50, 0.8);
  }
}

.social-media {
    background-color: #222;
    border-color: #080808;
}

.center {
    margin: 10px 0px 10px 494px;
}

.box  {
    display: inline-block;
    width: 45px;
    height: 45px;
    margin: 0 17px;
    line-height: 45px;
    font-family: Entypo;
    font-size: 20px;
    text-align: center;
    color: #151718;
    border-radius: 48%;
    background: #eee;
    overflow: hidden;
    cursor: pointer;
    transition:all .8s ease;
}
.box:hover {
    transition:.5s linear;
    color: white; 
    
}

#facebook:hover {
  background-color: #3a5795;
  box-shadow: inset 0 0 0 22px #3a5795;
}
#twitter:hover {
  background-color: #00acee;
  box-shadow: inset 0 0 0 22px #00acee;
}
#google:hover {
  background-color: #dd4b39;
  box-shadow: inset 0 0 0 22px #dd4b39;
}
#linkedin:hover {
  background-color:#0e76a8;
  box-shadow: inset 0 0 0 25px #0e76a8;
}
